name: buildAndPush
on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  buildAndPush:
    name: build and push to acr
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0      
      - name: image build
        run: docker build -t todo007.azurecr.io/todo-ui:v1 .